<footer>
  <section>
    <label for="newsEmail">Sign up for newsletter</label>
    <input id="newsEmail" type="email">
    <div class="copyright"><span>Copyright {{ site.time | date: '%Y' }} Scott Engert</span></div>
  </section>
  <section>
    <nav>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/tutorials">Tutorials</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </section>
  <section>
    <nav class="social">
      <ul>
        <li><a href="https://www.youtube.com/channel/UCSdNnBXdv6i5SBkbxaaAG1A">YouTube</a></li>
        <li><a href="https://plus.google.com/+ScottEngert">Google Plus</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">GitHub</a></li>
      </ul>
    </nav>
  </section>
</footer>