.site-header {
  background-color: $c-header-bg;
  color: $c-header-text;

  .logo {
    font-size: 2rem;
  }

  &:after {
    clear: both;
    content: '';
    display: block;
  }

}

.main-nav {
  a {
    text-decoration: none;
    color: $c-header-text;
    font-size: 1.2rem;
    line-height: 3rem;
  }

  &-top {
    float: left;
    padding-left: 1rem;
  }

  &-bottom {
    float: right;
    padding-right: 1rem;
    ul:after {
      clear: both;
      content: '';
      display: block;
    }
    li {
      float: left;
      margin: 0 .5rem;
    }
  }
}

.logo {
  font-family: "Thirsty Script";
  font-weight: lighter;
}

@media screen and (max-width: 30em) {
  .main-nav {
    &-top,
    &-bottom {
      float: none;
      padding: 0;
      position: relative;
      width: 100%;
    }

    &-top {
      background-color: $c-header-bg;
      padding: 0 1rem;
      z-index: 1;

      &:after {
        clear: both;
        content: '';
        display: block;
      }
    }

    &-bottom {
      box-shadow: 0 0 8px rgba(0,0,0,.4);
      max-height: 0;
      overflow: hidden;
      transition-duration: .3s;
      transition-property: max-height;
      transition-timing-function: cubic-bezier(.2,-0.3,.8,1.3);
      z-index: 0;

      &.open {
        max-height: 250px;
      }
      li {
        float: none;
        margin: 0;
        width: 100%;
      }
      a {
        padding: 1rem;
        line-height: 1.5;
        border-top: 1px solid $c-boulder;
        display: block;
        background-color: $c-header-sec-bg;
      }
    }
  }

  .logo {
    float: left;
  }

  .mobile-nav {
    float: right;
  }
}