
// named colors
$c-alto: #DDDDDD;
$c-silver: #BBBBBB;
$c-boulder: #777777;
$c-white: #FFFFFF;
$c-black: #000000;


// corresponding colors
$c-header-bg: $c-alto;
$c-header-sec-bg: $c-silver;
$c-header-sep: $c-boulder;
$c-header-text: $c-black;